<div class="grid grid-nogutter surface-section text-800 mt-5">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Soy Nico</span>
            <div class="text-6xl text-primary font-bold mb-3">Desarrollador Full-Stack 💻 y Consultor BI  📈 </div>
            <p class="mt-0 mb-4 text-900 line-height-2 font-bold">+1 año de experiencia como Analista de Datos y Reporting, trabajando con equipos multidisciplinarios. Interes en el diseño y creacion de aplicaciones escalables y robustas.</p>
        </section>
    </div>
    <div class="flex justify-content-center md:col-6 align-items-center">
        <img src="assets/img/1623200404477.jpeg" alt="Image" class="img">
    </div>
</div>