<div class="container mt-4">
    <div class="mt-3"> <!--Exp-->
        <h3>Experiencia</h3>
        <div style="margin-bottom: 4.5rem;" class="row">
            <div class="col">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                    src="https://media-exp1.licdn.com/dms/image/C4E0BAQGgaV8zc9ykYA/company-logo_200_200/0/1550841029357?e=1678924800&v=beta&t=p6Jl47CUOt7W6q4t3FxpintAB-kiyUqP0i-G6oFBrEA">
                <h3>Decreditos</h3>
                <span>Oct 2021 | Jul 2022</span><br>
                <p class="font-bold mt-2">Data Analyst</p>
                <li> Armado de informes y reportes específicos</li>
                <li> Búsqueda de métricas de éxito</li>
                <li> Armado de productos bancarios</li>
                <li> Planeamiento de proyectos</li>
                <li> Presentaciones en PPT</li>
                <li> Herramientas:</li>
                <img pTooltip="Power BI" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://cdn.svgporn.com/logos/microsoft-power-bi.svg">
                <img pTooltip="Excel" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://www.svgrepo.com/show/373589/excel.svg">
                <img pTooltip="Looker Studio" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://www.svgrepo.com/show/354012/looker-icon.svg">
                <img pTooltip="SQL Server" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://www.svgrepo.com/show/394296/mysql.svg">
            </div>
            <div class="col">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                    src="https://media-exp1.licdn.com/dms/image/C4E0BAQFGuoOAL8988A/company-logo_200_200/0/1579109709158?e=1678924800&v=beta&t=b4V1ErXM-rl4IGwOImlaZILzbgalOWWuHPVaCYwX3vk">
                <h3>Frubis</h3>
                <span>Jul 2022 | Oct 2022</span><br>
                <p class="font-bold mt-2">Reporting Specialist</p>
                <li> Extracción de datos con Nubimetrics y Google Scripts</li>
                <li> Transformación de datos en Google Sheets</li>
                <li> Armados de reportes Google Data Studio</li>
                <li> Soporte a grandes cuentas</li>
                <li> Uso de plataformas de publicidad</li>
                <li> Herramientas:</li>
                <img pTooltip="Google Script" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_Apps_Script.svg/512px-Google_Apps_Script.svg.png?20221103122014">
                <img pTooltip="Google Ads" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://lh3.googleusercontent.com/nupo3HWMIUeuul9r2IBSfpBo568bL-STG9nA71dUuW97DnhAXFgm2WWjczhTFqRHQZRf5VA-_PmxIZaIAXhOUrzfr5unPjFuW9za=w0">
                <img pTooltip="Sheets" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://upload.wikimedia.org/wikipedia/commons/3/30/Google_Sheets_logo_%282014-2020%29.svg">
                <img pTooltip="Looker Studio" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://www.svgrepo.com/show/354012/looker-icon.svg">
            </div>
        </div>
        <div class="mt-3"> <!--educ-->
            <h3>Educacion</h3>
            <div style="margin-bottom: 5rem;"  class="row">
                <div class="col">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="https://biblioteca.mincyt.gob.ar/img/logos/organizations/INTI.jpg">
                    <h3>Instituto Nac. de Tecnologia Industrial</h3>
                    <span>Feb 2022 | Ago 2022</span><br>
                    <p class="font-bold mt-2">Desarrollador Full Stack</p>
                    <li> Frontend con plataforma Angular</li>
                    <li> NPM y Maven</li>
                    <li> Backend con Java, Springboot y JWT</li>
                    <li> Base de datos MySQL</li>
                    <li> Controlador de versiones GIT</li>
                    <li> SCRUM, Metodologías Ágiles</li>
                    <li> Proyecto: </li><a target="_blank" href="https://github.com/NicoPastorini1/PortfolioNicolasPastorini"><img pTooltip="Ir al enlace" tooltipPosition="bottom" width="15px" height="15px" src="https://www.svgrepo.com/show/51864/link.svg"></a>
                    <li> Herramientas:</li>
                    <img pTooltip="Angular" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://www.svgrepo.com/show/349591/angular.svg">
                    <img pTooltip="Java" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://www.svgrepo.com/show/349418/java.svg">
                    <img pTooltip="Scrum" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://www.svgrepo.com/show/379764/agile.svg">
                    <img pTooltip="SQL Server" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://www.svgrepo.com/show/394296/mysql.svg">
                </div>
                <div class="col">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="https://media-exp1.licdn.com/dms/image/C4D0BAQH47RGjDD7AwQ/company-logo_200_200/0/1640272005412?e=1678924800&v=beta&t=vEAAdZK_-Vpvov86H7ASiv-SXr5cymA-Y3wQmAGfCQ4">
                    <h3>Coderhouse</h3>
                    <span>Jul 2021 | Sept 2021</span><br>
                    <p class="font-bold mt-2">Analista de datos</p>
                    <li> Base de Datos Relacionales SQL (MySql)</li>
                    <li> Power BI </li>
                    <li> Storytelling</li>
                    <li> Proyecto informe con Power BI</li>
                    <li> Proyecto: </li><a target="_blank" href="https://www.linkedin.com/posts/nicolas-pastorini_dataanalytics-activity-6846621328636747776-QA-J?utm_source=share&utm_medium=member_desktop"><img pTooltip="Ir al enlace" tooltipPosition="bottom" width="15px" height="15px" src="https://www.svgrepo.com/show/51864/link.svg"></a>
                    <li> Herramientas:</li>
                    <img pTooltip="Power BI" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                    src="https://cdn.svgporn.com/logos/microsoft-power-bi.svg">
                    <img pTooltip="Sheets" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://upload.wikimedia.org/wikipedia/commons/3/30/Google_Sheets_logo_%282014-2020%29.svg">
                    <img pTooltip="Storytelling" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://www.svgrepo.com/show/72242/idea.svg">
                    <img pTooltip="SQL Server" tooltipPosition="bottom" class="my-2 mx-2" width="20px" height="20px"
                        src="https://www.svgrepo.com/show/394296/mysql.svg">
                </div>
            </div>
            <div class="col flex justify-content-center">
                <button width="100px" routerLink="/more" class="btn btn-primary"> Conocer mas </button>
            </div>
        </div>